customtkinter>=5.2.0
pymediainfo>=6.1.0
windnd>=1.0.7
Pillow>=10.0.0
mutagen>=1.47.0
numpy>=1.24.0
scipy>=1.10.0
librosa>=0.10.0
soundfile>=0.12.0
spotipy>=2.23.0
pydub>=0.25.1
CTkMessagebox>=2.5
pywinstyles>=1.8
google-generativeai>=0.8.0
